<section>
    <div class="container">
        <h1 class="blog-title_main">Blog</h1>
        <div class="top-line"></div>
        <ul class="blog-list">
            <li class="blog-list-item">
                <h2 class="blog-title">Guide to Picking The Right Gaming Headset</h2>
                <picture>
                    <source
                        srcset="./images/blog-page/desctop/d_hie@1x.jpg 1x, ./images/blog-page/desctop/d_hie@2x.jpg 2x"
                        media="(min-width: 1200px)">
                    <source
                        srcset="./images/blog-page/tablet/t_hie@1x.jpg 1x, ./images/blog-page/tablet/t_hie@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/blog-page/mobile/m_hie@1x.jpg 1x, ./images/blog-page/mobile/m_hie@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <img src="./images/blog-page/mobile/m_hie@1x.jpg" alt="hand in eiphones">
                </picture>
                <div class="blog-list-wrapper">
                    <h3 class="blog-list-title">By Ray Ian Ampoloquio</h3>
                    <p class="blog-list-suptitle">Updated on September 21, 2022</p>
                    <p class="blog-list-content">
                        Learn how to choose an amazing gaming headset with this checklist of just 9 surprisingly simple
                        steps.
                        Gaming headsets offer a handy and practical solution to any and all of your gaming audio needs.
                        But,
                        as with any kind of
                        ...
                    </p>
                    <a href="" class="blog-list-link">Learn more</a>
                </div>
            </li>
            <li class="blog-list-item">
                <h2 class="blog-title">Mic Monitoring: What Is It and How It Is Relevant to Gaming</h2>
                <picture>
                    <source
                        srcset="./images/blog-page/desctop/d_bp@1x.jpg 1x, ./images/blog-page/desctop/d_bp@2x.jpg 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/blog-page/tablet/t_bp@1x.jpg 1x, ./images/blog-page/tablet/t_bp@2x.jpg 2x"
                        media="(min-width:768px)">
                    <source srcset="./images/blog-page/mobile/m_bp@1x.jpg 1x, ./images/blog-page/mobile/m_bp@2x.jpg 2x"
                        media="(min-width:320px)">
                    <img src="./images/blog-page/mobile/m_bp@1x.jpg" alt="">
                </picture>
                <div class="blog-list-wrapper">
                    <h3 class="blog-list-title">By Gab L</h3>
                    <p class="blog-list-suptitle">Updated on September 10, 2022</p>
                    <p class="blog-list-content">
                        An explanation and exploration of microphone monitoring — its benefits and how you can start
                        using
                        one of the most
                        underrated features today ...
                    </p>
                    <a href="" class="blog-list-link">Learn more</a>
                </div>
            </li>
            <li class="blog-list-item">
                <h2 class="blog-title">How to Choose the Right Gaming Mouse</h2>
                <picture>
                    <source
                        srcset="./images/blog-page/desctop/d_mnd@1x.jpg 1x, ./images/blog-page/desctop/d_mnd@2x.jpg 2x"
                        media="(min-width:1200px)">
                    <source
                        srcset="./images/blog-page/tablet/t_mnd@1x.jpg 1x, ./images/blog-page/tablet/t_mnd@2x.jpg 2x,"
                        media="(min-width:768px)">
                    <source
                        srcset="./images/blog-page/mobile/m_mnd@1x.jpg 1x, ./images/blog-page/mobile/m_mnd@2x.jpg 2x"
                        media="(min-width:320px)">
                    <img src="./images/blog-page/mobile/m_mnd@1x.jpg" alt="">
                </picture>
                <div class="blog-list-wrapper">
                    <h3 class="blog-list-title">By Michael Crider</h3>
                    <p class="blog-list-suptitle">Updated on September 2, 2022</p>
                    <p class="blog-list-content">
                        A good mouse can make a big difference when playing your favorite games. Here’s what you need to
                        know about grip styles,
                        types of gaming mice, technical specs, and more, before purchasing a new gaming mouse ...
                    </p>
                    <a href="" class="blog-list-link">Learn more</a>
                </div>
            </li>
        </ul>
    </div>
</section>