<!-- contacts-page-main -->
<main>
    <section>
        <div>
            <div>
                <h2>Сontacts</h2>
                
                <!-- curve -->

                <img src="" alt="">
                <div>
                    <p>In case of queries about order handling and/or delay, drop us an email at
                    </p>
                    <a href="">info@shopforgamers.com</a>
                    
                    <div>
                        <div>
                            <span>Email</span>
                            <a href="">sfg.info@gmail.com</a>
                        </div>
                        <div>
                            <span>Phone number</span>
                            <a href="">+38 (093) 643 22 88</a>
                            <a href="">+38 (050) 345 44 23</a>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <strong>CONTACT US</strong>
                <form action="">
                    <label for="">
                        <input type="text">
                    </label>
                    <label for="">
                        <input type="text">
                    </label>
                    <label for="">
                        <span></span>\
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </label>

                    <div>
                        <button>
                            <span></span>
                        </button>
                    </div>

                </form>
            </div>

        </div>
    </section>
</main>
