<header class="header">
  <div class="container header__container">
    <a class="header__name">shop for gamers</a>
    <!--іконка мобільного меню-->
    <button class="header__mobile">
      <svg width="54" height="36" aria-label="перемикач мобільного меню">
        <use></use>
      </svg>
    </button>

    <ul class="header__navigation">
      <li class="header__item">
        <a href="./accessories.html" class="header__link">Accessories</a>
      </li>
      <li class="header__item">
        <a href="./contacts.html" class="header__link">Contact</a>
      </li>
      <li class="header__item">
        <a href="./blog.html" class="header__link">Blog</a>
      </li>
    </ul>

    <div>
      <!-- <button>
                <svg>
                    <use></use>
                </svg>
            </button> -->
      <!-- <ul class="header__mobile-list">
                <li><a class="header__mobile-link">Accessories</a></li>
                <li><a class="header__mobile-link">Contact</a></li>
                <li><a class="header__mobile-link">Blog</a></li>
            </ul> -->
    </div>
    <button class="header__button" type="button">Shop now</button>
  </div>
</header>
