<section class="take-order section">
   
    <div class="container take-order-container">
        <div class="picture-box">
            <h2 class="take-order-title">Take order
                <span class="line line1"></span>
                <span class="line line2"></span>
            </h2>
            <img class="take-order-picture" src="./images/accessories-page/product_01-1x.jpg" alt="pr">
        </div>
        
        <div class="take-order-box">
            <p class="product-title">Xiberia K9 PRO PC Headset</p>
            <ul class="take-order-price-list">
                <li class="take-order-price__item"><p class="price__crossed">65.14 USD</p></li>
                <li class="take-order-price__item"><p class="price">55.14 USD</p></li>
            </ul>
            <ul class="take-order-photos">
                <li class="take-order-photos__item"><img src="./images/take-order-page/varian1.jpg" alt="" class="item__photo"></li>
                <li class="take-order-photos__item"><img src="./images/take-order-page/varian2.jpg" alt="" class="item__photo"></li>
                <li class="take-order-photos__item"><img src="./images/take-order-page/varian3.jpg" alt="" class="item__photo"></li>
                <li class="take-order-photos__item"><img src="./images/take-order-page/varian4.jpg" alt="" class="item__photo"></li>
            </ul>
        </div>
    </div>
</section>